[server]
root_url = $GRAFANA_ROOT_URL

[auth.generic_oauth]
enabled = true
scopes = email profile openid
auto_login = true
client_id = $OAUTH_CLIENT_ID
client_secret = $OAUTH_CLIENT_SECRET
auth_url = $OAUTH_URL/authorize
token_url = $OAUTH_URL/token
api_url = $OAUTH_URL/userInfo

[users]
auto_assign_org_role = Admin