global:
  scrape_interval: 10s

scrape_configs:
  - job_name: json_exporter
    static_configs:
      - targets: ["json_exporter:7979"]


  - job_name: homewizard_p1
    metrics_path: /probe
    params:
      module: [ homewizard_p1 ]
    static_configs:
      - labels:
          meter: "p1"
        targets:
          - http://p1meter-19ce16.local/api/v1/data
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: json_exporter:7979

  - job_name: homewizard_kwh_1
    metrics_path: /probe
    params:
      module: [ homewizard_kwh ]
    static_configs:
      - labels:
          meter: "kwh_boiler"
        targets:
          - http://kwhmeter-1dbc50.local/api/v1/data
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: json_exporter:7979

  - job_name: homewizard_kwh_2
    metrics_path: /probe
    params:
      module: [ homewizard_kwh ]
    static_configs:
      - labels:
          meter: "kwh_heat_pump"
        targets:
          - http://kwhmeter-1ddc1e.local/api/v1/data
    relabel_configs:
      - source_labels: [ __address__ ]
        target_label: __param_target
      - source_labels: [ __param_target ]
        target_label: instance
      - target_label: __address__
        replacement: json_exporter:7979


  - job_name: nibe_gateway
    static_configs:
      - targets: [ "nibe_gateway" ]
      - labels:
          meter: "nibe_heatpump"



remote_write:
  - url: http://host.docker.internal:9001/api/v1/push
    basic_auth:
        username: bla
        password: psswrodnbvbnv